version: "3"

services:
  application:
    build:
      context: .
    ports:
      - "${LOCAL_HTTP_PORT}:80"
    volumes:
      - ${HOST_VOLUME}:${VOLUME}
      - ${HOST_VOLUME}/${APACHE_LOG}:/var/log/apache2:rw
    depends_on:
      - mysql   

  mysql:
    image: mysql:5.7.21
    ports:
      - ${LOCAL_DB_PORT}:3306
    volumes:
      - ${HOST_VOLUME}/${LOCAL_PATH_TO_DB}:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
      MYSQL_DATABASE: "${DB_DATABASE}"
      MYSQL_USER: "${DB_USERNAME}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
 


  # nginx:
  #   image: nginx:alpine
  #   ports:
  #     - "${LOCAL_HTTP_PORT}:80"
  #   volumes:
  #     - ./:${VOLUME}
  #     - ./${NGINX_LOG}:/var/log/nginx:rw
  #     - ./docker/nginx/server.conf:/etc/nginx/server.conf:ro
    # depends_on:
    #   - php